#profileBtn{
    background-color: #eb9e34;
    border-color: #eb9e34;
    margin: 10px;
}



.part1{
    background-color:#f2f2f2;
    width: 100%;
    height: 350px;
}


ul {
    list-style-type: none;
}

.Logo{
    padding-top: 50px;
    padding-left: 50px;
}

.wrapper {	
    margin: 20px;
    /* margin-bottom: 10px; */
}


a {
    color: rgb(48, 48, 48);
}


.form-signin {
  width: 300px;
  padding: 25px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

}

.form-control{
    margin-top: 15px;
    margin-bottom: 15px;
}



.block{
    width:250px;
    height: 200px;
    /* background-color: grey; */
    border-radius: 10px;
    background-size: cover;
    padding: 0 4px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 10px;
  }
  
  .column div {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 850px) {
    .column {
      flex: 50%;
      max-width: 50%;
      padding: 10px 10px;
    }
    

  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 80%;
    }
    
  }


  @media screen and (max-width: 400px) {

    .part1{
        height:  200px;
    }
    
  }

.part2{
    padding-top:20px;
}

.part3{
    padding-top: 20px;
    padding-bottom: 20px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

