/* author: Susan Jang */

#profileBtn{
    background-color: #eb9e34;
    border-color: #eb9e34;
    margin:10px;
}


#greeting{
    font-size: 17px;
    color: #fff;
}

.part1{
    /* background-color:#f2f2f2; */
    /* Photo by Robin Stickel on Unsplash */
    background-image: url("../img/home_background.jpeg");
    background-size: cover;
    height: 370px;
}


.Logo{
    padding-top: 50px;
    padding-left: 50px;
}

.wrapper {	
    margin: 20px;
    /* margin-bottom: 10px; */
}

.wrapper2{
    display: none;
    margin: 20px;
}

a {
    color: rgb(48, 48, 48);
}


.form-signin {
  width: 300px;
  padding: 25px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

}

/* .form-control{
    margin-top: 5px;
    margin-bottom: 5px;
} */

#loginBtn{
    width:50%;
    text-align:center;
    background-color: #eb9e34;
    border-color: #eb9e34;
}

/* reference to grid: https://gridbyexample.com/examples/example1/ */
.restaurants{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-gap: 40px;
}


.block{
    width:250px;
    height: 200px;
    border-radius: 10px;
    padding: 40px;
    background-size: cover;
}

  /* Responsive layout - makes a three column-layout instead of four columns */
  @media screen and (max-width: 1100px) {
    .restaurants{
        grid-template-columns: 250px 250px 250px;
    }

  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 930px) {
    .restaurants{
        grid-template-columns: 250px 250px;
    }
  }

  @media screen and (max-width: 710px) {
    #login{
        display: none;
    }
    .part1{
        height:  200px;
    }

    .wrapper2{
        display: block;
    }
    .restaurants{
        grid-template-columns: 250px ;
    }
    
  }


.part2{
    padding-top:20px;
}

.part3{
    padding-top: 20px;
    padding-bottom: 20px;
}

.has-search .form-control {
    padding-left: 2rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


