.profileImg{
    width:150px;
    border-radius: 50%;
    overflow: hidden;
}

.block{
    width: 200px;
    height: 200px;
    background-color: grey;
    border-radius: 10px;
   
    
}

.block:hover{
  background-color: rgb(102, 101, 101);
}

.block p{
  text-align:center; 
  line-height: 200px;
  color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    width: 200px;
    padding: 5px 5px;
  }
  
  .column div {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .column {
      flex: 100%;
      /* max-width: 80%; */
    }

    .block{
        width: 200px;
        height: 200px;
        background-color: grey;
        
        
    }
    
  }



  #username{
    padding-top:10px;
    font-size: 20px;
  }


  #review{
    margin-top: 50px;
  }

  #review h3{
    margin-bottom: 30px;
  }

  #favorite{
    padding: 50px;
  }

  #profile{
    padding-top:50px;
  }

  a:hover {
    text-decoration: none;
  }