/* Author: Emily Lin */

.ratingReviewTop {
    color: orange;
    font-size: 150%;
    position: absolute;
    z-index: 1; /* stack order, aka front/back */
    overflow: hidden;
}

.ratingReviewBottom {
    color: gray;
    font-size: 150%;
    position: relative;
    z-index: 0;
}
/*
      position: absolute;
      
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    &-bottom {
      padding: 0;
      display: block;
      
    }
  }
  */

.container {
    margin: 0 auto;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.checked {
    color: orange;
}

.unchecked {
    color: gray;
}

/* Reference: https://www.w3schools.com/howto/howto_css_rounded_images.asp */
img {
    width: 100%;
    border-radius: 2%;
}

.feedback {
    color: red;
    font-style: italic;
}

/* Reference: https://stackoverflow.com/questions/8118266/integrating-css-star-rating-into-an-html-form */
.ratingUser {
    float: left;
    width:100%; /* How to make this more responsive? */
    unicode-bidi: bidi-override;
    direction: rtl;
}

.ratingUser span { 
    float: left; 
    position:relative; 
} 

.ratingUser span input {
    position:absolute;
    opacity:0;
}

.ratingUser span label {
    color: gray;
    background:white;
    font-size:200%;
    line-height:0%;
}